/* General */

.inline-block {
    display: inline-block;
}

/* Fonts */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lexend Peta', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.title {
    text-align: center;
}

.subtitle {
    text-align: center;
}

/* Logo */

.logo {    
    border: 1px solid grey;

}


/* Menu */

.menu {
    border: 1px solid blue;
}



header {

}

/* Home */

.hero-image {
    border: 1px solid grey;
}

/* About */

.about {
    border: 1px solid grey;
}

/* Temples */ 

.temples {
    background-color: #EBC338;
}

/* Gallery */

.gallery {
    background-color: #75C8FF;
}

/* Visit */

.visit {
    border: 1px solid grey;
}

/* Contact */

.contact {
    background-color: #FFD53D; }

/* Footer */

.footer {
    height: 100px;
    background-color: #660012;
}

.footer-menu a {
    text-align: center;
    color: #b3122f;
}