/*--------------------------------------------------------  General */

.inline-block {
    display: inline-block;
}

.flex-container {
  display: flex;
}

div.inline { float:left; }
.clearBoth { clear:both; }

hr {
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(179, 18, 48, 0.74);
}

/*-------------------------------------------------------- Colours */

.red {
    color: #660012;
}


.grey {
    color: #505050;
}

.white {
    color: #fff;
}

.blue {
    color: #0A4B66;
}

.lt-blue {
    color: #73aecf;
}

.lt-grey {
    color: #efefef;
}

.bright-red {
    color: #f8123c;
}

.mid-red {
    color:#b3122f;
}


/*-------------------------------------------------------- Fonts */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lexend Peta', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #660012;
 }


a:hover {
    color: #f8123c;
 }


.title {
    text-align: center;
}

@media only screen and (max-width: 320px) {
h2.site-title {
    font-size: 22px;
}
}

.subtitle {
    text-align: center;
}

p.cap {
    padding-top: 20px;
    font-size: .8rem;
    font-weight: 100;
    line-height: 1.1;
    color: #3b3b3b;
    text-align: center;
}

p.intro {
    font-size: 1.2rem;
    font-weight: 600;
    color: #3b3b3b;

}


/* @media only screen and (max-width: 1100px) {

   .temple-title-col h5 { 
       font-size: 1.2em; 

   }

} */

/*--------------------------------------------------------  Buttons */

.btn-book {
    color: #fff;
    background-color: #660012;
    border-color: #660012;
    font-family: 'Lexend Peta', sans-serif;
    text-transform: uppercase;
    font-size: 0.85em;
}

.btn-book:hover, .btn-book:focus, .btn-book:active, .btn-book.active, .open>.dropdown-toggle.btn-book {
    color: rgb(248, 18, 60);
    background-color: #660012;
    border-color: #660012; 
}


/*--------------------------------------------------------  Logo */

.logo {    
    border: 1px solid grey;

}


/*--------------------------------------------------------  Menu */


header {

}

.navbar-brand h2 {
    color: rgb(102, 0, 18);
}

.nav-item a {
    color: #660012;
}

.menu {
     background-color: #efefef;
}

.bg-light {
    background-color: #efefef!important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(102, 10, 18, 1);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 1.1px;
}

.navbar-nav .nav-link {
    margin-left: 1px;
    padding: 10px;
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #efefef;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(102,10,18,1);
}

.hvr-sweep-to-bottom:before {
    background-color: rgb(102, 0, 18);
    border-radius: 3px;
    padding: 2px;
    margin: 1px;
    }

.navbar-light .navbar-toggler {
    color: rgba(102, 10, 18, .5);
    border-color: rgba(102, 10, 18, .9);
}

/*--------------------------------------------------------  Home */

.hero-image {
    background: url("https://charliekranz.github.io/Akragas/assets/images/akragas-panorama.jpg");
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 420px;
}

@media only screen and (max-width: 1000px) {
.hero-image {
}
}

@media only screen and (max-width: 600px) {
.hero-image {

}
}

/*-------------------------------------------------------- Quote Box */

.quote-box {
    background-color: rgba(58, 0, 5, 0.8);
    color: rgba(248, 18, 60, 1);
    padding: 7%;
    z-index: 1;
    margin-top: 40px;
    margin-bottom: 40px;
    }

.quote-box-flush {
    background-color: rgba(58, 0, 5, 0.8);
    color: rgba(248, 18, 60, 1);
    padding: 7%;
    z-index: 1;
    margin-top: 40px;
    }

.quote-box-hero {
    background-color: rgba(58, 0, 5, 0.6);
    color: rgba(248, 18, 60, 1);
    padding: 7%;
    z-index: 1;
    margin-bottom: 45%;
    margin-left: 15%;;
    }

h3.big-hero-text {
    font-size: 2.5rem;
    }

h4.big-hero-name {
    font-size: 2rem;
    }

@media only screen and (max-width: 540px) {
h3.big-hero-text {
    font-size: 1.75rem;
    }
}

@media only screen and (max-width: 540px) {
h4.big-hero-name {
    font-size: 1.5rem;
    }
}

@media only screen and (max-width: 740px) {
.quote-box-hero {
    margin-bottom: 25%;
    margin-left: 0%;
    font-size-adjust: .7;
    }
}

.quote-name {
    text-align: right;
}

.quote-subline {
    text-align: right;
}


/*-------------------------------------------------------- About */

.about {
    background-color: #efefef;
    padding-top: 15px;
}

.about-title {
    margin-top: 1.5em;
    margin-bottom: 2em;
    padding-left: 10px;
    padding-right: 10px;
}

.about-intro-row {
    margin: 0px 6px 0px 6px;
}

.about-body-text {
    margin-top: 0.5em;
    margin-bottom: 0.75em;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.about-image-bg {
     background: url("https://charliekranz.github.io/Akragas/assets/images/1024px-Akragas_406_a.C..jpg");
     padding-top: 5px;
     }

.inset-image {
    padding: 10px;
}

.video-box {
    width: 88%;
    height: 88%;
    position: relative;
    margin: auto;
    top: 42%;
    left: 44%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 540px) {
.video-box {
    width: 110%;
    /* height: 100%; */
    position: relative;
    margin: auto;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}
}

/*-------------------------------------------------------- Timeline */ 

.timeline {
    background-color: #53000f;
    min-height: 300px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.timeline-title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    font-size: 22px;
    padding: 20px 0px 10px;
}

.timeline-title-small {
    text-decoration: none;
    border-bottom: 1px solid;
}

/*-------------------------------------------------------- Timeline Horizontal */ 


.timeline-point-hoz {
    margin-top: 65px;
    padding: 1.4em 2em 1em 2em;
    position: relative;
    color: #b3122f;
    border-top: 1px solid;
    text-align: center;
}

.timeline-point-hoz:before {
    content: attr(data-dates);
    position: absolute;
    left: 4.55em;
    top: -3em;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    padding: 0;
    margin:0;
}

.timeline-point-hoz:after {
    width: 12px;
    height: 12px;
    display: block;
    top: -0.4em;
    position: absolute;
    left: 105px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}

.date-info-hoz {
    font-size: 18px;
    text-align: left;
}

 @media only screen and (max-width: 1200px) {

.date-info-hoz {
    font-size: 16px;
}

.timeline-point-hoz:before {
    content: attr(data-dates);
    position: absolute;
    left: 3.8em;
    top: -3em;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    padding: 0;
    margin:0;
}

.timeline-point-hoz:after {
    width: 12px;
    height: 12px;
    display: block;
    top: -0.4em;
    position: absolute;
    left: 90px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}
}

 @media only screen and (max-width: 840px) {
.timeline-point-hoz:before {
    top: -4em;
}
}

/*-------------------------------------------------------- Timeline Vertical */ 


.timeline-point-right {
    padding: 4em 2em 1em 2em;
    position: relative;
    color: #b3122f;
    border-left: 1px solid;
    margin-left: 16px;

}

.timeline-point-right:before {
    content: attr(data-dates);
    position: absolute;
    left: 1.9em;
    top: 2em;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    padding: 0;
    margin:0;
}

.timeline-point-right:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}

.date-info-vert-right {
    font-size: 18px;
}

.timeline-point-left {
    padding: 4em 2em 1em 2em;
    position: relative;
    color: #b3122f;
    border-left: 1px solid;
    margin-left: 16px;

}

.timeline-point-left:before {
    content: attr(data-dates);
    position: absolute;
    left: 1.9em;
    top: 2em;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    padding: 0;
    margin:0;
}

.timeline-point-left:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}

.date-info-vert-left {
    font-size: 18px;
}

/*-------------------------------------------------------- Temples */ 

.temples {
    background-color: #AD9C9F;
}

.temple-segments {
     background-color: rgba(254, 254, 254, 0.3);

}

.temple-title-section {
    padding-top: 10px;
}

.temple-intro-title {
    padding-top: 24px;

}

.temple-text {
    padding-bottom: 0px;
}

.temple-text-bg {
    background: url("https://charliekranz.github.io/Akragas/assets/images/pilars.png");
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    min-height: 400px;
    opacity: 0.9;
    }

.temple-title {
    padding-top: 8px;
    color:#660012;
}

.temple-text-col {
    padding-bottom: 10px;
}
.temple-column {
    margin: 20px 5px 20px 5px;
}

/*--------------------------------------------------------  Gallery */

.gallery {
    background-color: #73aecf;
}

.gallery-block {
    padding-bottom: 0px;
    padding-top: 0px;
}
.gallery-block .heading {
    margin-bottom: 16px;
}

.gallery-block.compact-gallery .item .description .description-heading {
    font-size: 1.8em;
    font-weight: bold;
    line-height: .9em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}


/*--------------------------------------------------------  Visit */

.visit {
    background-color: #fefefe;
}

.visit-text {
}

.visit-box {
    margin: 10px;
}

.map-box {
    margin-right: 0px;
    margin-left: 0px;
}

.button-box {
    margin: 24px;
}

@media only screen and (max-width: 767px) {
.map-box {
    margin: 0px 0px 24px;
}
}

/*--------------------------------------------------------  Contact */

.contact {
    color: #efefef; 
    background-color: #0A4B66;
    background: url("https://charliekranz.github.io/Akragas/assets/images/night-zeus.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    opacity: 1;
    }

.contact-text {
}


.form-box {
    padding: 24px 10px 10px 10px;
}

.form-control {
    border-radius: 0.33rem;
}

button, input, optgroup, select, textarea {
    margin: 5px;
}

.form-check-label {
    font-size: .85em;
    color: #73aecf;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.2em;
    text-align: left;
    padding-left: 6px;
}

.form-check-input {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: -1rem;
}

.form-check {
    padding-left: 3rem;
    padding-top: 0.25em;
}

.icon-row {
    margin: 30px;
}

@media only screen and (max-width: 700px) {
    .icon-row {
    margin: 10px;
}
}

.icon-row a {
    color: #fff;

}

.icon-row a:hover {
    color: #73aecf;;
}

.fa-resize {
    font-size: 4.25em;
    text-align: center;
    padding: 30px;
}

@media only screen and (max-width: 1200px) {
.fa-resize {
    font-size: 3.8em;
    text-align: center;
    padding: 18px;
}
}

/*@media only screen and (max-width: 900px) {
.fa-resize {
    font-size: 3em;
    text-align: center;
    padding: 6px;
}
}

/*@media only screen and (max-width: 300px) {
.fa-resize {
    font-size: 2.5em;
    text-align: center;
    padding: 8px;
}
}*/

/*--------------------------------------------------------  Footer */

.footer {
    height: 160px;
    background-color: #660012;
}

.footer-menu {
    margin-top: 10px;
}

.footer-menu a {
    text-align: center;
    text-transform: uppercase;
    color: #b3122f;
}

.footer-menu a:hover {
    text-align: center;
    text-transform: uppercase;
    color: #f8123c;
    text-decoration: none;
}

.footer-menu p {
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #b3122f;
}