/* General */

.inline-block {
    display: inline-block;
}

/* Fonts */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lexend Peta', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

/* Logo */

.logo {    
    border: 1px solid grey;

}

.navigation {    
    height: 80px;
}

/* Menu */

.menu {
    border: 1px solid blue;
}

header {

}

/* Home */

.hero-image {
    border: 1px solid grey;
}

/* About */

/* Gallery */

/* Visit */

/* Contact */